* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    cursor: url('assets/cursors/fuckyou.png'), auto;
}

html {
    
    background: linear-gradient(
        rgba(255, 255, 255, 0.068), 
        rgba(53, 53, 53, 0.342)
      ), 
      url('assets/bg.png');;
    /*
    background: linear-gradient(rgba(0, 0, 0, 0.651),
            rgba(0, 0, 0, 0.521)),
        url('assets/tiles/tile3.png');
    ;
    */
    background-size: 100%;
    background-repeat: repeat;
    image-rendering: crisp-edges;

    cursor: url('assets/cursors/cursor1.png'), auto;

    animation: pan 40s linear infinite;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.center {
    height: 100vh;
    display: grid;
    place-items: center;
}

#tuffA {
    position: absolute;
    scale: 0.5;
    image-rendering: crisp-edges;
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.37));
    position: absolute;
    top: 63%;
    left: -9.5%;
}

#centerA {
    scale: 1;
    filter: drop-shadow(0 0 0.3rem rgba(14, 36, 17, 0.8));
}

#centerA :hover{
    filter: drop-shadow(0 0 0.4rem rgb(50, 156, 64,2));
    filter: saturate(0.5);
}